In [2]:
import warnings
warnings.filterwarnings('ignore')
import os
import pandas as pd
import numpy as np

from store_data import DataStore
from utilities import (get_building_id, get_location_id,
                       get_lat_lng, starting_date, time_delta, 
                       year, get_date, timestamp_to_string, epoch_to_date)

# Data Ingestion

In [141]:
raw_data_path = 'data1/'

In [142]:
for dirpath, dirnames, filenames in os.walk(raw_data_path):
    print(dirpath)

data1/

In [144]:
energystats = pd.DataFrame()
exclude_files = ['USA_AK_FAIRBANKS_temperature_usage.csv', 'USA_CA_LOS_ANGELES_temperature_usage.csv',
                 'USA_IL_CHICAGO-OHARE_temperature_usage.csv', 'USA_MN_MINNEAPOLIS_temperature_usage.csv', 
                 'USA_TX_HOUSTON_temperature_usage.csv', 'USA_WA_SEATTLE_temperature_usage.csv',
                 '.DS_Store', 'Holidays.csv', 'energystats.csv', 'dataset.csv', 'All_locations_temperature_usage.csv']
for file_ in filenames:
    if file_ in exclude_files:
        continue
    if '2004' in file_ and 'USA_' in file_:
        df = pd.read_csv(dirpath+file_)
        building_type = file_[:file_.index("2004")]
        location = file_[file_.index("USA_"):file_.index(".csv")]
        df['building_type'] = building_type
        df['location'] = location
    else:
        continue
    energystats = pd.concat((df, energystats), axis=0)

In [145]:
energystats.count()

Cooling:Electricity [kW](Hourly)              1681920
Date/Time                                     1681920
Electricity:Facility [kW](Hourly)             1681920
Electricity:Facility [kW](Monthly)                  0
Fans:Electricity [kW](Hourly)                 1681920
Gas:Facility [kW](Hourly)                     1681920
Gas:Facility [kW](Monthly)                          0
Heating:Electricity [kW](Hourly)              1681920
Heating:Gas [kW](Hourly)                      1681920
InteriorEquipment:Electricity [kW](Hourly)    1681920
InteriorEquipment:Gas [kW](Hourly)             946080
InteriorLights:Electricity [kW](Hourly)       1681920
Water Heater:WaterSystems:Gas [kW](Hourly)    1366560
building_type                                 1681920
location                                      1681920
dtype: int64

In [146]:
energystats.head(5)

,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),InteriorEquipment:Gas [kW](Hourly),InteriorLights:Electricity [kW](Hourly),Water Heater:WaterSystems:Gas [kW](Hourly),building_type,location
0,0.0,01/01 01:00:00,22.200377,NaN,6.784553,198.184686,NaN,0.0,198.184686,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS
1,0.0,01/01 02:00:00,20.673749,NaN,5.257925,156.818509,NaN,0.0,156.818509,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS
2,0.0,01/01 03:00:00,22.051864,NaN,6.636040,179.738632,NaN,0.0,179.738632,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS
3,0.0,01/01 04:00:00,20.450578,NaN,5.034754,144.452862,NaN,0.0,144.452862,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS
4,0.0,01/01 05:00:00,21.914217,NaN,6.498393,172.954875,NaN,0.0,172.954875,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS

In [147]:
energystats.groupby('location').count()

,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),InteriorEquipment:Gas [kW](Hourly),InteriorLights:Electricity [kW](Hourly),Water Heater:WaterSystems:Gas [kW](Hourly),building_type
location,,,,,,,,,,,,,,
USA_AK_FAIRBANKS,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_AZ_PHOENIX,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_CA_LOS_ANGELES,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_CA_SAN_FRANCISCO,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_CO_BOULDER,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_GA_ATLANTA,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_IL_CHICAGO-OHARE,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_MD_BALTIMORE,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_MN_MINNEAPOLIS,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_NV_LAS_VEGAS,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_TX_HOUSTON,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_WA_SEATTLE,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160

# Data Wrangling

In [148]:
energystats['location_id'] = energystats['location'].apply(get_location_id)
energystats['building_id'] = energystats['building_type'].apply(get_building_id)

In [149]:
energystats['Date'] = energystats['Date/Time'].apply(get_date)
energystats.Date = energystats.Date.astype(str)

,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),InteriorEquipment:Gas [kW](Hourly),InteriorLights:Electricity [kW](Hourly),Water Heater:WaterSystems:Gas [kW](Hourly),building_type,location,location_id,building_id,Date
0,0.0,01/01 01:00:00,22.200377,NaN,6.784553,198.184686,NaN,0.0,198.184686,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS,1,16,01/01
1,0.0,01/01 02:00:00,20.673749,NaN,5.257925,156.818509,NaN,0.0,156.818509,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS,1,16,01/01
2,0.0,01/01 03:00:00,22.051864,NaN,6.636040,179.738632,NaN,0.0,179.738632,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS,1,16,01/01
3,0.0,01/01 04:00:00,20.450578,NaN,5.034754,144.452862,NaN,0.0,144.452862,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS,1,16,01/01
4,0.0,01/01 05:00:00,21.914217,NaN,6.498393,172.954875,NaN,0.0,172.954875,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS,1,16,01/01

In [332]:
energystats[['Cooling:Electricity [kW](Hourly)', 'InteriorEquipment:Electricity [kW](Hourly)', 'Fans:Electricity [kW](Hourly)', 'InteriorLights:Electricity [kW](Hourly)', 'Electricity:Facility [kW](Hourly)']].head(5)

,Cooling:Electricity [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),Fans:Electricity [kW](Hourly),InteriorLights:Electricity [kW](Hourly),Electricity:Facility [kW](Hourly)
0,0.0,1.0116,6.784553,5.481225,22.200377
1,0.0,1.0116,5.257925,5.481225,20.673749
2,0.0,1.0116,6.636040,5.481225,22.051864
3,0.0,1.0116,5.034754,5.481225,20.450578
4,0.0,1.0116,6.498393,5.481225,21.914217

In [151]:
holidays = pd.read_csv("data1/Holidays.csv")
energystats_holidays = pd.merge(energystats, holidays,
                                on='Date', how='outer')

energystats_holidays.count()

Cooling:Electricity [kW](Hourly)              1681920
Date/Time                                     1681920
Electricity:Facility [kW](Hourly)             1681920
Electricity:Facility [kW](Monthly)                  0
Fans:Electricity [kW](Hourly)                 1681920
Gas:Facility [kW](Hourly)                     1681920
Gas:Facility [kW](Monthly)                          0
Heating:Electricity [kW](Hourly)              1681920
Heating:Gas [kW](Hourly)                      1681920
InteriorEquipment:Electricity [kW](Hourly)    1681920
InteriorEquipment:Gas [kW](Hourly)             946080
InteriorLights:Electricity [kW](Hourly)       1681920
Water Heater:WaterSystems:Gas [kW](Hourly)    1366560
building_type                                 1681920
location                                      1681920
location_id                                   1681920
building_id                                   1681920
Date                                          1681920
Holiday                                         46080
Holiday_code                                    46080
dtype: int64

In [156]:
temperaturestats = pd.DataFrame()
locations = ['USA_AK_FAIRBANKS', 'USA_CA_LOS_ANGELES', 'USA_IL_CHICAGO-OHARE', 'USA_MN_MINNEAPOLIS', 'USA_TX_HOUSTON', 'USA_WA_SEATTLE',
             'USA_NV_LAS_VEGAS', 'USA_CA_SAN_FRANCISCO', 'USA_AZ_PHOENIX', 'USA_GA_ATLANTA', 'USA_MD_BALTIMORE', 'USA_CO_BOULDER']
for location in locations:
    loc_temp_usage = pd.read_csv(dirpath+location+'_temperature_usage.csv')
    loc_temp_usage['Date'] = loc_temp_usage['time'].apply(epoch_to_date)
    loc_temp_usage['location'] = location
    temperaturestats = pd.concat((loc_temp_usage, temperaturestats), axis=0)
temperaturestats.drop(columns=['Unnamed: 0'], inplace=True)
temperaturestats.to_csv('data/All_locations_temperature_usage.csv')

In [157]:
temperaturestats.groupby('location').count()

,time,sunriseTime,sunsetTime,temperatureHigh,dewPoint,humidity,windSpeed,cloudCover,Date
location,,,,,,,,,
USA_AK_FAIRBANKS,366,366,366,366,366,366,366,366,366
USA_AZ_PHOENIX,366,366,366,366,366,366,366,366,366
USA_CA_LOS_ANGELES,366,366,366,366,366,366,366,366,366
USA_CA_SAN_FRANCISCO,366,366,366,366,366,366,366,366,366
USA_CO_BOULDER,366,366,366,366,366,366,366,366,366
USA_GA_ATLANTA,366,366,366,366,366,366,366,366,366
USA_IL_CHICAGO-OHARE,366,366,366,366,366,366,366,366,366
USA_MD_BALTIMORE,366,366,366,366,366,366,366,366,366
USA_MN_MINNEAPOLIS,366,366,366,366,366,366,366,366,366
USA_NV_LAS_VEGAS,366,366,366,366,366,366,366,366,366
USA_TX_HOUSTON,366,366,366,366,366,366,366,366,366
USA_WA_SEATTLE,366,366,366,366,366,366,366,366,366

In [158]:
temperaturestats.head(5)

,time,sunriseTime,sunsetTime,temperatureHigh,dewPoint,humidity,windSpeed,cloudCover,Date,location
0,1072940400,1072967052,1073000832,51.77,6.76,0.22,3.89,0.69,01/01,USA_CO_BOULDER
1,1073026800,1073053458,1073087281,42.15,20.25,0.49,1.81,0.89,01/02,USA_CO_BOULDER
2,1073113200,1073139862,1073173731,27.35,18.89,0.76,0.94,0.95,01/03,USA_CO_BOULDER
3,1073199600,1073226264,1073260183,25.10,3.76,0.52,2.13,0.41,01/04,USA_CO_BOULDER
4,1073286000,1073312663,1073346637,6.56,-7.72,0.52,1.59,0.62,01/05,USA_CO_BOULDER

In [159]:
temperature_usage = pd.read_csv("data/All_locations_temperature_usage.csv")
dataset = pd.merge(energystats_holidays, temperature_usage,
                   on=['Date','location'], how='inner')

In [160]:
dataset = dataset.drop(columns=['Unnamed: 0'])

In [161]:
dataset.count()

Cooling:Electricity [kW](Hourly)              1681920
Date/Time                                     1681920
Electricity:Facility [kW](Hourly)             1681920
Electricity:Facility [kW](Monthly)                  0
Fans:Electricity [kW](Hourly)                 1681920
Gas:Facility [kW](Hourly)                     1681920
Gas:Facility [kW](Monthly)                          0
Heating:Electricity [kW](Hourly)              1681920
Heating:Gas [kW](Hourly)                      1681920
InteriorEquipment:Electricity [kW](Hourly)    1681920
InteriorEquipment:Gas [kW](Hourly)             946080
InteriorLights:Electricity [kW](Hourly)       1681920
Water Heater:WaterSystems:Gas [kW](Hourly)    1366560
building_type                                 1681920
location                                      1681920
location_id                                   1681920
building_id                                   1681920
Date                                          1681920
Holiday                                         46080
Holiday_code                                    46080
time                                          1681920
sunriseTime                                   1681920
sunsetTime                                    1681920
temperatureHigh                               1681920
dewPoint                                      1681920
humidity                                      1681920
windSpeed                                     1681920
cloudCover                                    1681920
dtype: int64

In [163]:
dataset.to_csv('data1/dataset.csv')

## Feature Analysis and Engineering

In [164]:
dataset = pd.read_csv('data/dataset.csv')

In [165]:
dataset_expand_holidays = pd.get_dummies(dataset['Holiday'])
dataset = pd.concat([dataset, dataset_expand_holidays], axis=1)
dataset.head(5)

,Unnamed: 0,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),...,Christmas Day,Columbus Day,Independence Day,Labor Day,Martin Luther King Day,Memorial Day,New Years Day,Presidents Day,Thanksgiving,Veterans Day
0,0,0.0,01/01 01:00:00,22.200377,NaN,6.784553,198.184686,NaN,0.0,198.184686,...,0,0,0,0,0,0,1,0,0,0
1,1,0.0,01/01 02:00:00,20.673749,NaN,5.257925,156.818509,NaN,0.0,156.818509,...,0,0,0,0,0,0,1,0,0,0
2,2,0.0,01/01 03:00:00,22.051864,NaN,6.636040,179.738632,NaN,0.0,179.738632,...,0,0,0,0,0,0,1,0,0,0
3,3,0.0,01/01 04:00:00,20.450578,NaN,5.034754,144.452862,NaN,0.0,144.452862,...,0,0,0,0,0,0,1,0,0,0
4,4,0.0,01/01 05:00:00,21.914217,NaN,6.498393,172.954875,NaN,0.0,172.954875,...,0,0,0,0,0,0,1,0,0,0

In [166]:
dataset = dataset.drop(columns=['Holiday_code', 'Holiday'])
weekday_features = pd.read_csv('data/weekday_features.csv')
weekday_features.head(5)

    Date       Day  is_weekend  is_holiday   Holiday_name
0  01/01  Thursday           0           1  New Years Day
1  01/02    Friday           0           0            NaN
2  01/03  Saturday           1           0            NaN
3  01/04    Sunday           1           0            NaN
4  01/05    Monday           0           0            NaN

In [167]:
dataset = pd.merge(dataset, weekday_features,
                   on='Date', how='inner')
dataset.count()

Unnamed: 0                                    1681920
Cooling:Electricity [kW](Hourly)              1681920
Date/Time                                     1681920
Electricity:Facility [kW](Hourly)             1681920
Electricity:Facility [kW](Monthly)                  0
Fans:Electricity [kW](Hourly)                 1681920
Gas:Facility [kW](Hourly)                     1681920
Gas:Facility [kW](Monthly)                          0
Heating:Electricity [kW](Hourly)              1681920
Heating:Gas [kW](Hourly)                      1681920
InteriorEquipment:Electricity [kW](Hourly)    1681920
InteriorEquipment:Gas [kW](Hourly)             946080
InteriorLights:Electricity [kW](Hourly)       1681920
Water Heater:WaterSystems:Gas [kW](Hourly)    1366560
building_type                                 1681920
location                                      1681920
location_id                                   1681920
building_id                                   1681920
Date                                          1681920
time                                          1681920
sunriseTime                                   1681920
sunsetTime                                    1681920
temperatureHigh                               1681920
dewPoint                                      1681920
humidity                                      1681920
windSpeed                                     1681920
cloudCover                                    1681920
Christmas Day                                 1681920
Columbus Day                                  1681920
Independence Day                              1681920
Labor Day                                     1681920
Martin Luther King Day                        1681920
Memorial Day                                  1681920
New Years Day                                 1681920
Presidents Day                                1681920
Thanksgiving                                  1681920
Veterans Day                                  1681920
Day                                           1681920
is_weekend                                    1681920
is_holiday                                    1681920
Holiday_name                                    50688
dtype: int64

In [168]:
dataset["Electricity:Facility [kW](Monthly)"].fillna(0, inplace=True)
dataset["Gas:Facility [kW](Monthly)"].fillna(0, inplace=True)
dataset["InteriorEquipment:Gas [kW](Hourly)"].fillna(0, inplace=True)
dataset["Water Heater:WaterSystems:Gas [kW](Hourly)"].fillna(0, inplace=True)
dataset.head(5)

,Unnamed: 0,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),...,Martin Luther King Day,Memorial Day,New Years Day,Presidents Day,Thanksgiving,Veterans Day,Day,is_weekend,is_holiday,Holiday_name
0,0,0.0,01/01 01:00:00,22.200377,0.0,6.784553,198.184686,0.0,0.0,198.184686,...,0,0,1,0,0,0,Thursday,0,1,New Years Day
1,1,0.0,01/01 02:00:00,20.673749,0.0,5.257925,156.818509,0.0,0.0,156.818509,...,0,0,1,0,0,0,Thursday,0,1,New Years Day
2,2,0.0,01/01 03:00:00,22.051864,0.0,6.636040,179.738632,0.0,0.0,179.738632,...,0,0,1,0,0,0,Thursday,0,1,New Years Day
3,3,0.0,01/01 04:00:00,20.450578,0.0,5.034754,144.452862,0.0,0.0,144.452862,...,0,0,1,0,0,0,Thursday,0,1,New Years Day
4,4,0.0,01/01 05:00:00,21.914217,0.0,6.498393,172.954875,0.0,0.0,172.954875,...,0,0,1,0,0,0,Thursday,0,1,New Years Day

### One Hot Encoding

In [169]:
dataset_expand_days = pd.get_dummies(dataset['Day'])
dataset = pd.concat([dataset, dataset_expand_days], axis=1)
dataset.head(5)

,Unnamed: 0,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),...,is_weekend,is_holiday,Holiday_name,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0,0.0,01/01 01:00:00,22.200377,0.0,6.784553,198.184686,0.0,0.0,198.184686,...,0,1,New Years Day,0,0,0,0,1,0,0
1,1,0.0,01/01 02:00:00,20.673749,0.0,5.257925,156.818509,0.0,0.0,156.818509,...,0,1,New Years Day,0,0,0,0,1,0,0
2,2,0.0,01/01 03:00:00,22.051864,0.0,6.636040,179.738632,0.0,0.0,179.738632,...,0,1,New Years Day,0,0,0,0,1,0,0
3,3,0.0,01/01 04:00:00,20.450578,0.0,5.034754,144.452862,0.0,0.0,144.452862,...,0,1,New Years Day,0,0,0,0,1,0,0
4,4,0.0,01/01 05:00:00,21.914217,0.0,6.498393,172.954875,0.0,0.0,172.954875,...,0,1,New Years Day,0,0,0,0,1,0,0

In [170]:
dataset.columns

Index(['Unnamed: 0', 'Cooling:Electricity [kW](Hourly)', 'Date/Time',
       'Electricity:Facility [kW](Hourly)',
       'Electricity:Facility [kW](Monthly)', 'Fans:Electricity [kW](Hourly)',
       'Gas:Facility [kW](Hourly)', 'Gas:Facility [kW](Monthly)',
       'Heating:Electricity [kW](Hourly)', 'Heating:Gas [kW](Hourly)',
       'InteriorEquipment:Electricity [kW](Hourly)',
       'InteriorEquipment:Gas [kW](Hourly)',
       'InteriorLights:Electricity [kW](Hourly)',
       'Water Heater:WaterSystems:Gas [kW](Hourly)', 'building_type',
       'location', 'location_id', 'building_id', 'Date', 'time', 'sunriseTime',
       'sunsetTime', 'temperatureHigh', 'dewPoint', 'humidity', 'windSpeed',
       'cloudCover', 'Christmas Day', 'Columbus Day', 'Independence Day',
       'Labor Day', 'Martin Luther King Day', 'Memorial Day', 'New Years Day',
       'Presidents Day', 'Thanksgiving', 'Veterans Day', 'Day', 'is_weekend',
       'is_holiday', 'Holiday_name', 'Friday', 'Monday', 'Saturday', 'Sunday',
       'Thursday', 'Tuesday', 'Wednesday'],
      dtype='object')

In [171]:
dataset_expand_building_type = pd.get_dummies(dataset['building_type'])
dataset = pd.concat([dataset, dataset_expand_building_type], axis=1)
dataset_expand_location = pd.get_dummies(dataset['location'])
dataset = pd.concat([dataset, dataset_expand_location], axis=1)
dataset.head(5)

,Unnamed: 0,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),...,USA_CA_LOS_ANGELES,USA_CA_SAN_FRANCISCO,USA_CO_BOULDER,USA_GA_ATLANTA,USA_IL_CHICAGO-OHARE,USA_MD_BALTIMORE,USA_MN_MINNEAPOLIS,USA_NV_LAS_VEGAS,USA_TX_HOUSTON,USA_WA_SEATTLE
0,0,0.0,01/01 01:00:00,22.200377,0.0,6.784553,198.184686,0.0,0.0,198.184686,...,0,0,0,0,0,0,0,0,0,0
1,1,0.0,01/01 02:00:00,20.673749,0.0,5.257925,156.818509,0.0,0.0,156.818509,...,0,0,0,0,0,0,0,0,0,0
2,2,0.0,01/01 03:00:00,22.051864,0.0,6.636040,179.738632,0.0,0.0,179.738632,...,0,0,0,0,0,0,0,0,0,0
3,3,0.0,01/01 04:00:00,20.450578,0.0,5.034754,144.452862,0.0,0.0,144.452862,...,0,0,0,0,0,0,0,0,0,0
4,4,0.0,01/01 05:00:00,21.914217,0.0,6.498393,172.954875,0.0,0.0,172.954875,...,0,0,0,0,0,0,0,0,0,0

In [172]:
dataset.to_csv('data/dataset.csv')

In [ ]:
"""
data_store = DataStore('35.227.50.121')
data_store.connect_to_database()
data_store.store_data(energystats)
"""