In [1]:
import warnings
warnings.filterwarnings('ignore')
import os
import pandas as pd
import numpy as np

from store_data import DataStore
from utilities import (get_building_id, get_location_id,
                       get_lat_lng, starting_date, time_delta, 
                       year, get_date, timestamp_to_string, epoch_to_date)

# Data Ingestion

In [2]:
raw_data_path = 'data1/'

In [3]:
for dirpath, dirnames, filenames in os.walk(raw_data_path):
    print(dirpath)

data1/

In [4]:
energystats = pd.DataFrame()
exclude_files = ['USA_AK_FAIRBANKS_temperature_usage.csv', 'USA_CA_LOS_ANGELES_temperature_usage.csv',
                 'USA_IL_CHICAGO-OHARE_temperature_usage.csv', 'USA_MN_MINNEAPOLIS_temperature_usage.csv', 
                 'USA_TX_HOUSTON_temperature_usage.csv', 'USA_WA_SEATTLE_temperature_usage.csv',
                 '.DS_Store', 'Holidays.csv', 'energystats.csv', 'dataset.csv', 'All_locations_temperature_usage.csv']
for file_ in filenames:
    if file_ in exclude_files:
        continue
    if '2004' in file_ and 'USA_' in file_:
        df = pd.read_csv(dirpath+file_)
        building_type = file_[:file_.index("2004")]
        location = file_[file_.index("USA_"):file_.index(".csv")]
        df['building_type'] = building_type
        df['location'] = location
    else:
        continue
    energystats = pd.concat((df, energystats), axis=0)

In [5]:
energystats.count()

Cooling:Electricity [kW](Hourly)              1681920
Date/Time                                     1681920
Electricity:Facility [kW](Hourly)             1681920
Electricity:Facility [kW](Monthly)                  0
Fans:Electricity [kW](Hourly)                 1681920
Gas:Facility [kW](Hourly)                     1681920
Gas:Facility [kW](Monthly)                          0
Heating:Electricity [kW](Hourly)              1681920
Heating:Gas [kW](Hourly)                      1681920
InteriorEquipment:Electricity [kW](Hourly)    1681920
InteriorEquipment:Gas [kW](Hourly)             946080
InteriorLights:Electricity [kW](Hourly)       1681920
Water Heater:WaterSystems:Gas [kW](Hourly)    1366560
building_type                                 1681920
location                                      1681920
dtype: int64

In [6]:
energystats.head()

,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),InteriorEquipment:Gas [kW](Hourly),InteriorLights:Electricity [kW](Hourly),Water Heater:WaterSystems:Gas [kW](Hourly),building_type,location
0,0.0,01/01 01:00:00,22.200377,NaN,6.784553,198.184686,NaN,0.0,198.184686,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS
1,0.0,01/01 02:00:00,20.673749,NaN,5.257925,156.818509,NaN,0.0,156.818509,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS
2,0.0,01/01 03:00:00,22.051864,NaN,6.636040,179.738632,NaN,0.0,179.738632,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS
3,0.0,01/01 04:00:00,20.450578,NaN,5.034754,144.452862,NaN,0.0,144.452862,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS
4,0.0,01/01 05:00:00,21.914217,NaN,6.498393,172.954875,NaN,0.0,172.954875,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS

In [22]:
energystats[energystats['Electricity:Facility [kW](Hourly)'] > 150]

,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),InteriorEquipment:Gas [kW](Hourly),InteriorLights:Electricity [kW](Hourly),Water Heater:WaterSystems:Gas [kW](Hourly),building_type,location,location_id,building_id,Date
8,0.000000,01/01 09:00:00,179.829513,NaN,40.433273,480.810492,NaN,0.0,477.287992,14.149973,3.502500,6.987380,0.020000,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/01
9,0.000000,01/01 10:00:00,152.423660,NaN,40.433273,480.012053,NaN,0.0,475.345042,14.149973,3.502500,6.987380,1.164511,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/01
10,0.000000,01/01 11:00:00,176.802090,NaN,40.433273,456.710391,NaN,0.0,448.540481,27.775947,7.005000,27.949520,1.164910,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/01
11,0.000000,01/01 12:00:00,204.787330,NaN,40.433273,444.992202,NaN,0.0,436.822287,27.775947,7.005000,27.949520,1.164915,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/01
12,0.000000,01/01 13:00:00,211.908953,NaN,40.433273,419.075306,NaN,0.0,408.570206,36.859929,9.340000,41.924280,1.165100,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/01
13,0.000000,01/01 14:00:00,209.066306,NaN,40.433273,407.227057,NaN,0.0,396.721891,36.859929,9.340000,41.924280,1.165166,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/01
14,0.000000,01/01 15:00:00,205.278822,NaN,40.433273,409.596858,NaN,0.0,399.091718,36.859929,9.340000,41.924280,1.165141,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/01
15,0.000000,01/01 16:00:00,208.632863,NaN,40.433273,417.949836,NaN,0.0,407.444628,36.859929,9.340000,41.924280,1.165209,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/01
16,0.000000,01/01 17:00:00,215.390980,NaN,40.433273,426.770405,NaN,0.0,416.265315,36.859929,9.340000,41.924280,1.165090,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/01
17,0.000000,01/01 18:00:00,186.901932,NaN,40.433273,502.146399,NaN,0.0,493.976341,27.775947,7.005000,27.949520,1.165058,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/01
18,0.000000,01/01 19:00:00,193.449504,NaN,40.433273,530.081679,NaN,0.0,524.246772,18.691965,4.670000,13.974760,1.164908,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/01
19,0.000000,01/01 20:00:00,173.272974,NaN,40.433273,525.717146,NaN,0.0,519.882321,18.691965,4.670000,13.974760,1.164825,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/01
20,0.000000,01/01 21:00:00,164.509063,NaN,40.433273,522.960676,NaN,0.0,518.270676,18.691965,4.670000,13.974760,0.020000,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/01
21,0.000000,01/01 22:00:00,150.440446,NaN,40.433273,496.927820,NaN,0.0,491.093239,18.691965,4.670000,13.974760,1.164582,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/01
31,0.000000,01/02 08:00:00,158.243509,NaN,40.433273,586.298180,NaN,0.0,580.463634,18.691965,4.670000,13.974760,1.164546,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/02
32,0.000000,01/02 09:00:00,234.615870,NaN,40.433273,536.607078,NaN,0.0,528.414578,32.317938,8.172500,34.936900,0.020000,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/02
33,0.000000,01/02 10:00:00,258.584700,NaN,40.433273,490.087930,NaN,0.0,478.415470,41.401920,10.507500,62.886420,1.164959,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/02
34,0.000000,01/02 11:00:00,238.578492,NaN,40.433273,471.395741,NaN,0.0,459.723040,41.401920,10.507500,62.886420,1.165201,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/02
35,0.000000,01/02 12:00:00,266.213161,NaN,40.433273,448.232747,NaN,0.0,435.413764,41.401920,10.507500,62.886420,2.311483,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/02
36,0.000000,01/02 13:00:00,245.986153,NaN,40.433273,428.769224,NaN,0.0,415.949923,41.401920,10.507500,62.886420,2.311800,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/02
37,0.000000,01/02 14:00:00,242.538895,NaN,40.433273,426.924143,NaN,0.0,415.251000,41.401920,10.507500,62.886420,1.165643,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/02
38,0.000000,01/02 15:00:00,238.755883,NaN,40.433273,417.258695,NaN,0.0,404.440051,41.401920,10.507500,62.886420,2.311144,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/02
39,0.000000,01/02 16:00:00,242.166984,NaN,40.433273,410.711049,NaN,0.0,399.038108,41.401920,10.507500,62.886420,1.165441,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/02
40,0.000000,01/02 17:00:00,248.958439,NaN,40.433273,422.527881,NaN,0.0,410.854941,41.401920,10.507500,62.886420,1.165440,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/02
41,0.000000,01/02 18:00:00,248.924903,NaN,40.433273,423.921755,NaN,0.0,411.103358,41.401920,10.507500,62.886420,2.310897,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/02
42,0.000000,01/02 19:00:00,248.461295,NaN,40.433273,438.406080,NaN,0.0,427.900836,36.859929,9.340000,41.924280,1.165244,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/02
43,0.000000,01/02 20:00:00,232.181890,NaN,40.433273,471.073661,NaN,0.0,460.568541,36.859929,9.340000,41.924280,1.165120,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/02
44,0.000000,01/02 21:00:00,207.125115,NaN,40.433273,496.523601,NaN,0.0,487.185999,32.317938,8.172500,34.936900,1.165102,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/02
45,0.000000,01/02 22:00:00,150.413515,NaN,40.433273,469.537535,NaN,0.0,463.702834,18.691965,4.670000,13.974760,1.164701,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/02
54,0.000000,01/03 07:00:00,165.655324,NaN,40.433273,637.740712,NaN,0.0,633.050712,18.691965,4.670000,13.974760,0.020000,RefBldgSuperMarketNew,USA_AK_FAIRBANKS,1,15,01/03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8730,400.889324,12/30 19:00:00,922.312009,NaN,94.655420,422.881069,NaN,0.0,329.205843,199.110934,84.970049,100.150657,8.705177,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/30
8731,387.994524,12/30 20:00:00,900.904126,NaN,94.655420,397.394546,NaN,0.0,323.354761,191.613658,56.646700,100.150657,17.393085,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/30
8732,403.004916,12/30 21:00:00,805.566467,NaN,94.655420,454.365419,NaN,0.0,389.013440,124.558693,56.646700,55.625145,8.705279,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/30
8733,445.342062,12/30 22:00:00,846.843154,NaN,94.655420,467.444139,NaN,0.0,407.565774,124.558693,42.485025,55.625145,17.393340,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/30
8734,478.448994,12/30 23:00:00,866.716624,NaN,94.655420,466.285705,NaN,0.0,429.256969,124.558693,28.323350,46.093034,8.705386,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/30
8735,498.521421,12/30 24:00:00,885.580005,NaN,94.655420,471.175572,NaN,0.0,439.623628,124.558693,14.161675,46.093034,17.390270,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/30
8736,508.573008,12/31 01:00:00,870.698711,NaN,94.655420,461.947226,NaN,0.0,447.577008,113.312780,5.664670,34.961655,8.705549,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8737,505.533280,12/31 02:00:00,867.001693,NaN,94.655420,475.295770,NaN,0.0,452.239761,113.312780,5.664670,34.961655,17.391339,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8738,505.150586,12/31 03:00:00,867.264982,NaN,94.655420,469.891934,NaN,0.0,455.521558,113.312780,5.664670,34.961655,8.705707,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8739,506.980190,12/31 04:00:00,869.565348,NaN,94.655420,480.907498,NaN,0.0,457.851204,113.312780,5.664670,34.961655,17.391624,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8740,506.665206,12/31 05:00:00,878.989329,NaN,94.655420,463.672938,NaN,0.0,449.302417,113.312780,5.664670,44.493766,8.705850,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8741,503.770995,12/31 06:00:00,875.031511,NaN,94.655420,482.631453,NaN,0.0,451.077877,113.312780,14.161675,44.493766,17.391901,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8742,502.275367,12/31 07:00:00,942.845234,NaN,94.655420,428.554948,NaN,0.0,391.525606,176.889270,28.323350,54.025877,8.705993,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8743,503.861616,12/31 08:00:00,940.716358,NaN,94.655420,440.906252,NaN,0.0,381.029051,184.386546,42.485025,54.025877,17.392176,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8744,495.954352,12/31 09:00:00,1013.146364,NaN,94.655420,423.983066,NaN,0.0,349.870975,220.043165,56.646700,65.157255,17.465392,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8745,477.146895,12/31 10:00:00,987.894563,NaN,94.655420,396.371916,NaN,0.0,336.355183,212.545889,42.485025,65.157255,17.531707,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8746,454.794084,12/31 11:00:00,974.517715,NaN,94.655420,420.272811,NaN,0.0,323.065820,220.043165,70.808375,65.157255,26.398616,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8747,441.858306,12/31 12:00:00,963.425579,NaN,94.655420,409.059652,NaN,0.0,311.853761,220.043165,70.808375,65.157255,26.397517,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8748,437.225586,12/31 13:00:00,958.034180,NaN,94.655420,398.793005,NaN,0.0,301.588150,220.043165,70.808375,65.157255,26.396481,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8749,435.376066,12/31 14:00:00,948.902845,NaN,94.655420,375.120697,NaN,0.0,292.073446,212.545889,56.646700,65.157255,26.400551,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8750,437.567592,12/31 15:00:00,950.917895,NaN,94.655420,353.617192,NaN,0.0,284.732825,212.545889,42.485025,65.157255,26.399342,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8751,440.508015,12/31 16:00:00,954.019864,NaN,94.655420,370.769370,NaN,0.0,287.724376,212.545889,56.646700,65.157255,26.398294,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8752,406.380658,12/31 17:00:00,901.833223,NaN,94.655420,401.930238,NaN,0.0,290.562929,220.043165,84.970049,65.157255,26.397260,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8753,392.240256,12/31 18:00:00,851.520819,NaN,94.655420,409.557171,NaN,0.0,298.298642,184.386546,84.970049,54.025877,26.288479,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8754,400.492675,12/31 19:00:00,829.681808,NaN,94.655420,444.681288,NaN,0.0,351.005390,163.454315,84.970049,44.493766,8.705849,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8755,439.512376,12/31 20:00:00,862.069461,NaN,94.655420,448.421557,NaN,0.0,374.382959,155.957040,56.646700,44.493766,17.391898,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8756,452.000670,12/31 21:00:00,841.945744,NaN,94.655420,478.691616,NaN,0.0,413.338925,124.558693,56.646700,44.493766,8.705991,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8757,482.995985,12/31 22:00:00,869.728375,NaN,94.655420,484.491338,NaN,0.0,424.614140,124.558693,42.485025,44.493766,17.392173,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8758,494.360833,12/31 23:00:00,869.191960,NaN,94.655420,482.132456,NaN,0.0,445.102974,124.558693,28.323350,34.961655,8.706133,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31
8759,494.443287,12/31 24:00:00,870.283932,NaN,94.655420,483.686196,NaN,0.0,452.132073,124.558693,14.161675,34.961655,17.392448,RefBldgHospitalNew,USA_CA_LOS_ANGELES,2,2,12/31

In [7]:
energystats.groupby('location').count()

,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),InteriorEquipment:Gas [kW](Hourly),InteriorLights:Electricity [kW](Hourly),Water Heater:WaterSystems:Gas [kW](Hourly),building_type
location,,,,,,,,,,,,,,
USA_AK_FAIRBANKS,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_AZ_PHOENIX,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_CA_LOS_ANGELES,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_CA_SAN_FRANCISCO,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_CO_BOULDER,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_GA_ATLANTA,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_IL_CHICAGO-OHARE,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_MD_BALTIMORE,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_MN_MINNEAPOLIS,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_NV_LAS_VEGAS,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_TX_HOUSTON,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_WA_SEATTLE,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160

# Data Wrangling

In [8]:
energystats['location_id'] = energystats['location'].apply(get_location_id)
energystats['building_id'] = energystats['building_type'].apply(get_building_id)

In [9]:
energystats['Date'] = energystats['Date/Time'].apply(get_date)
energystats.Date = energystats.Date.astype(str)

In [10]:
energystats[['Cooling:Electricity [kW](Hourly)', 'InteriorEquipment:Electricity [kW](Hourly)', 'Fans:Electricity [kW](Hourly)', 'InteriorLights:Electricity [kW](Hourly)', 'Electricity:Facility [kW](Hourly)']].head(5)

,Cooling:Electricity [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),Fans:Electricity [kW](Hourly),InteriorLights:Electricity [kW](Hourly),Electricity:Facility [kW](Hourly)
0,0.0,1.0116,6.784553,5.481225,22.200377
1,0.0,1.0116,5.257925,5.481225,20.673749
2,0.0,1.0116,6.636040,5.481225,22.051864
3,0.0,1.0116,5.034754,5.481225,20.450578
4,0.0,1.0116,6.498393,5.481225,21.914217

In [11]:
holidays = pd.read_csv("data1/Holidays.csv")
energystats_holidays = pd.merge(energystats, holidays,
                                on='Date', how='outer')
energystats_holidays.count()

Cooling:Electricity [kW](Hourly)              1681920
Date/Time                                     1681920
Electricity:Facility [kW](Hourly)             1681920
Electricity:Facility [kW](Monthly)                  0
Fans:Electricity [kW](Hourly)                 1681920
Gas:Facility [kW](Hourly)                     1681920
Gas:Facility [kW](Monthly)                          0
Heating:Electricity [kW](Hourly)              1681920
Heating:Gas [kW](Hourly)                      1681920
InteriorEquipment:Electricity [kW](Hourly)    1681920
InteriorEquipment:Gas [kW](Hourly)             946080
InteriorLights:Electricity [kW](Hourly)       1681920
Water Heater:WaterSystems:Gas [kW](Hourly)    1366560
building_type                                 1681920
location                                      1681920
location_id                                   1681920
building_id                                   1681920
Date                                          1681920
Holiday                                         46080
Holiday_code                                    46080
dtype: int64

In [12]:
temperaturestats = pd.DataFrame()
locations = ['USA_AK_FAIRBANKS', 'USA_CA_LOS_ANGELES', 'USA_IL_CHICAGO-OHARE', 'USA_MN_MINNEAPOLIS', 'USA_TX_HOUSTON', 'USA_WA_SEATTLE',
             'USA_NV_LAS_VEGAS', 'USA_CA_SAN_FRANCISCO', 'USA_AZ_PHOENIX', 'USA_GA_ATLANTA', 'USA_MD_BALTIMORE', 'USA_CO_BOULDER']
for location in locations:
    loc_temp_usage = pd.read_csv(dirpath+location+'_temperature_usage.csv')
    loc_temp_usage['Date'] = loc_temp_usage['time'].apply(epoch_to_date)
    loc_temp_usage['location'] = location
    temperaturestats = pd.concat((loc_temp_usage, temperaturestats), axis=0)
temperaturestats.drop(columns=['Unnamed: 0'], inplace=True)
temperaturestats.to_csv('data/All_locations_temperature_usage.csv')

In [13]:
temperaturestats.groupby('location').count()

,time,sunriseTime,sunsetTime,temperatureHigh,dewPoint,humidity,windSpeed,cloudCover,Date
location,,,,,,,,,
USA_AK_FAIRBANKS,366,366,366,366,366,366,366,366,366
USA_AZ_PHOENIX,366,366,366,366,366,366,366,366,366
USA_CA_LOS_ANGELES,366,366,366,366,366,366,366,366,366
USA_CA_SAN_FRANCISCO,366,366,366,366,366,366,366,366,366
USA_CO_BOULDER,366,366,366,366,366,366,366,366,366
USA_GA_ATLANTA,366,366,366,366,366,366,366,366,366
USA_IL_CHICAGO-OHARE,366,366,366,366,366,366,366,366,366
USA_MD_BALTIMORE,366,366,366,366,366,366,366,366,366
USA_MN_MINNEAPOLIS,366,366,366,366,366,366,366,366,366
USA_NV_LAS_VEGAS,366,366,366,366,366,366,366,366,366
USA_TX_HOUSTON,366,366,366,366,366,366,366,366,366
USA_WA_SEATTLE,366,366,366,366,366,366,366,366,366

In [14]:
temperaturestats.head(5)

,time,sunriseTime,sunsetTime,temperatureHigh,dewPoint,humidity,windSpeed,cloudCover,Date,location
0,1072940400,1072967052,1073000832,51.77,6.76,0.22,3.89,0.69,01/01,USA_CO_BOULDER
1,1073026800,1073053458,1073087281,42.15,20.25,0.49,1.81,0.89,01/02,USA_CO_BOULDER
2,1073113200,1073139862,1073173731,27.35,18.89,0.76,0.94,0.95,01/03,USA_CO_BOULDER
3,1073199600,1073226264,1073260183,25.10,3.76,0.52,2.13,0.41,01/04,USA_CO_BOULDER
4,1073286000,1073312663,1073346637,6.56,-7.72,0.52,1.59,0.62,01/05,USA_CO_BOULDER

In [15]:
temperature_usage = pd.read_csv("data/All_locations_temperature_usage.csv")
dataset = pd.merge(energystats_holidays, temperature_usage,
                   on=['Date','location'], how='inner')

In [16]:
dataset = dataset.drop(columns=['Unnamed: 0'])

In [17]:
dataset.count()

Cooling:Electricity [kW](Hourly)              1681920
Date/Time                                     1681920
Electricity:Facility [kW](Hourly)             1681920
Electricity:Facility [kW](Monthly)                  0
Fans:Electricity [kW](Hourly)                 1681920
Gas:Facility [kW](Hourly)                     1681920
Gas:Facility [kW](Monthly)                          0
Heating:Electricity [kW](Hourly)              1681920
Heating:Gas [kW](Hourly)                      1681920
InteriorEquipment:Electricity [kW](Hourly)    1681920
InteriorEquipment:Gas [kW](Hourly)             946080
InteriorLights:Electricity [kW](Hourly)       1681920
Water Heater:WaterSystems:Gas [kW](Hourly)    1366560
building_type                                 1681920
location                                      1681920
location_id                                   1681920
building_id                                   1681920
Date                                          1681920
Holiday                                         46080
Holiday_code                                    46080
time                                          1681920
sunriseTime                                   1681920
sunsetTime                                    1681920
temperatureHigh                               1681920
dewPoint                                      1681920
humidity                                      1681920
windSpeed                                     1681920
cloudCover                                    1681920
dtype: int64

In [18]:
dataset.to_csv('data1/dataset.csv')

In [19]:
dataset_seattle = dataset[dataset['location'] == 'USA_WA_SEATTLE']
dataset_fairbanks = dataset[dataset['location'] == 'USA_AK_FAIRBANKS']
dataset_phoenix = dataset[dataset['location'] == 'USA_AZ_PHOENIX']
dataset_los_angeles = dataset[dataset['location'] == 'USA_CA_LOS_ANGELES']
dataset_san_francisco = dataset[dataset['location'] == 'USA_CA_SAN_FRANCISCO']
dataset_boulder = dataset[dataset['location'] == 'USA_CO_BOULDER']
dataset_chicago = dataset[dataset['location'] == 'USA_IL_CHICAGO-OHARE']
dataset_baltimore = dataset[dataset['location'] == 'USA_MD_BALTIMORE']
dataset_minneapolis = dataset[dataset['location'] == 'USA_MN_MINNEAPOLIS']
dataset_vegas = dataset[dataset['location'] == 'USA_NV_LAS_VEGAS']
dataset_houston = dataset[dataset['location'] == 'USA_TX_HOUSTON']
dataset_atlanta = dataset[dataset['location'] == 'USA_GA_ATLANTA']

In [20]:
dataset_seattle.to_csv('data1/dataset_seattle.csv')
dataset_fairbanks.to_csv('data1/dataset_fairbanks.csv')
dataset_phoenix.to_csv('data1/dataset_phoenix.csv')
dataset_los_angeles.to_csv('data1/dataset_los_angeles.csv')
dataset_san_francisco.to_csv('data1/dataset_san_francisco.csv')
dataset_boulder.to_csv('data1/dataset_boulder.csv')
dataset_chicago.to_csv('data1/dataset_chicago.csv')
dataset_baltimore.to_csv('data1/dataset_baltimore.csv')
dataset_minneapolis.to_csv('data1/dataset_minneapolis.csv')
dataset_vegas.to_csv('data1/dataset_vegas.csv')
dataset_houston.to_csv('data1/dataset_houston.csv')
dataset_atlanta.to_csv('data1/dataset_atlanta.csv')