In [11]:
import warnings
warnings.filterwarnings('ignore')
import os
import pandas as pd
import numpy as np

from store_data import DataStore
from utilities import get_building_id, get_location_id, get_lat_lng
from client import TemperatureClient

In [12]:
raw_data_path = 'data/'

In [13]:
for dirpath, dirnames, filenames in os.walk(raw_data_path):
    print(dirpath)
    #print(filenames)

data/

In [14]:
energystats = pd.DataFrame()
for file_ in filenames:
    df = pd.read_csv(dirpath+file_)
    building_type = file_[:file_.index("2004")]
    location = file_[file_.index("USA_"):file_.index(".csv")]
    df['building_type'] = building_type
    df['location'] = location
    energystats = pd.concat((df, energystats), axis=0)

In [15]:
energystats.count()

Cooling:Electricity [kW](Hourly)              840960
Date/Time                                     840960
Electricity:Facility [kW](Hourly)             840960
Electricity:Facility [kW](Monthly)                 0
Fans:Electricity [kW](Hourly)                 840960
Gas:Facility [kW](Hourly)                     840960
Gas:Facility [kW](Monthly)                         0
Heating:Electricity [kW](Hourly)              840960
Heating:Gas [kW](Hourly)                      840960
InteriorEquipment:Electricity [kW](Hourly)    840960
InteriorEquipment:Gas [kW](Hourly)            473040
InteriorLights:Electricity [kW](Hourly)       840960
Water Heater:WaterSystems:Gas [kW](Hourly)    683280
building_type                                 840960
location                                      840960
dtype: int64

In [16]:
energystats.head(5)

,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),InteriorEquipment:Gas [kW](Hourly),InteriorLights:Electricity [kW](Hourly),Water Heater:WaterSystems:Gas [kW](Hourly),building_type,location
0,0.0,01/01 01:00:00,22.200377,NaN,6.784553,198.184686,NaN,0.0,198.184686,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS
1,0.0,01/01 02:00:00,20.673749,NaN,5.257925,156.818509,NaN,0.0,156.818509,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS
2,0.0,01/01 03:00:00,22.051864,NaN,6.636040,179.738632,NaN,0.0,179.738632,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS
3,0.0,01/01 04:00:00,20.450578,NaN,5.034754,144.452862,NaN,0.0,144.452862,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS
4,0.0,01/01 05:00:00,21.914217,NaN,6.498393,172.954875,NaN,0.0,172.954875,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS

In [17]:
energystats.groupby('location').count()

,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),InteriorEquipment:Gas [kW](Hourly),InteriorLights:Electricity [kW](Hourly),Water Heater:WaterSystems:Gas [kW](Hourly),building_type
location,,,,,,,,,,,,,,
USA_AK_FAIRBANKS,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_CA_LOS_ANGELES,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_IL_CHICAGO-OHARE,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_MN_MINNEAPOLIS,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_TX_HOUSTON,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160
USA_WA_SEATTLE,140160,140160,140160,0,140160,140160,0,140160,140160,140160,78840,140160,113880,140160

In [18]:
energystats['location_id'] = energystats['location'].apply(get_location_id)
energystats['building_id'] = energystats['building_type'].apply(get_building_id)

In [19]:
energystats.head(5)

,Cooling:Electricity [kW](Hourly),Date/Time,Electricity:Facility [kW](Hourly),Electricity:Facility [kW](Monthly),Fans:Electricity [kW](Hourly),Gas:Facility [kW](Hourly),Gas:Facility [kW](Monthly),Heating:Electricity [kW](Hourly),Heating:Gas [kW](Hourly),InteriorEquipment:Electricity [kW](Hourly),InteriorEquipment:Gas [kW](Hourly),InteriorLights:Electricity [kW](Hourly),Water Heater:WaterSystems:Gas [kW](Hourly),building_type,location,location_id,building_id
0,0.0,01/01 01:00:00,22.200377,NaN,6.784553,198.184686,NaN,0.0,198.184686,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS,1,16
1,0.0,01/01 02:00:00,20.673749,NaN,5.257925,156.818509,NaN,0.0,156.818509,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS,1,16
2,0.0,01/01 03:00:00,22.051864,NaN,6.636040,179.738632,NaN,0.0,179.738632,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS,1,16
3,0.0,01/01 04:00:00,20.450578,NaN,5.034754,144.452862,NaN,0.0,144.452862,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS,1,16
4,0.0,01/01 05:00:00,21.914217,NaN,6.498393,172.954875,NaN,0.0,172.954875,1.0116,NaN,5.481225,NaN,RefBldgWarehouseNew,USA_AK_FAIRBANKS,1,16

In [22]:
data_store = DataStore('35.227.50.121')
data_store.connect_to_database()
data_store.store_data(energystats)

KeyboardInterrupt:

In [ ]:
temperature_client = TemperatureClient('https://api.darksky.net/forecast/')
response = temperature_client.get_data()